/* Police relaway */
@font-face {
    font-family: 'raleway';
    src: url('fonts/static/Raleway-Regular.ttf') format('truetype');
}

*
{
    font-family: 'raleway', Arial, serif; 
    color: black;   
    text-decoration: none;
    background-color: transparent;
}
  
  h1, 
  h2, 
  h3 {
    margin: 10px;
  }
  
  html {
    background-size: cover;
    background-color: white;
  }

  body {
      font-family: 'Raleway Regular', sans-serif
  }

  nav-barre {
      
  }