/* Police relaway */
@font-face {
    font-family: 'raleway';
    src: local('Raleway Regular') url('fonts/static/Raleway-Regular.ttf') format('truetype');
}

*
{
    font-family: 'raleway', Arial, serif; 
    color: black;   
    text-decoration: none;
    background-color: transparent;
}
  
.logo {
    position: static;
    width: 90px;
    height: 60px;
    margin-left: 25px;
    object-fit: contain;
    }

    /* navbar */

.nav-barrre {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }

.nav-barre-menu {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
  }
  
.nav-barre .link-nav {
    display: flex;
    justify-content: center;
    width: 150px;
    text-decoration: none;
    margin: 20px 0 20px 0;
    font-size: 18px;
    font-family: 'Raleway Regular', sans-serif;
  }

.link-nav a {
    text-decoration: none;
    color:black
  }

.signup-nav a {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
  }

.hebergements-navbar {
    opacity: 0.7;
    color:rgb(0, 4, 231);
    text-decoration: overline;
    list-style: none;  
  }

.activites-navbar {
    font-family: 'Raleway Regular', sans-serif;
    color:rgb(134, 129, 122);
    list-style: none;
    text-decoration: none;
  }
      
.signup-navbar {
    font-family: 'Raleway Regular', sans-serif;  
    font-weight: bold;
    color:#0065FC;
    text-decoration: none; 
    padding: 0;
    margin: 20px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
  }

/* RECHERCHE */

.icone-info-ville {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 14px 14px 14px 18px;
    }

.search {
    font: bold;
    border-right: none;
    border-left: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 0.9rem;
    }

h1 {
    font-family: 'Raleway Regular', sans-serif; 
    font-size: 145%; 
    font-weight: bold;
    color: black;
    margin: 10px;
    }

.search-form-button {
    width: 120px;
    background-color:#0065FC;
    color: white;
    border: unset;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0 17px 17px 0;
    }
    
.fa-search {
    display:none;
    }

.search-form {
    display: flex;
    margin: 25px 15px 25px 15px;
    }
    /* RECHERCHE */

 /* INFO */
   
 .info-icone-container p  {
  font-family: 'Raleway Regular', sans-serif;
  color: black;
  font-size: 100%;  
  margin: 0 15px 0 15px;
  align-self: center;
}

.sous-titre {
  margin: 20px;
}

.info-icone-container {
  display: flex;
  margin: 50px 0 30px 30px;  
}
/* lOGO INFO */ 

.info-icone { 
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(197, 187, 187);
  border-radius: 15px;
}

.fa-info {
  color:#0065FC;
  font-size: 15px;  
}
/* LOGO INFO */

/* INFO */